{% extends 'base.html' %}
{% block title %} detail survey {% endblock %}

{% block content %}

<div class="list-group mt-2">

    <button type="button" class="list-group-item list-group-item-action">
        <h5>{{ survey.full_name }}</h5>
        <p>{{ survey.email }}</p>
        <p>{{ survey.phone }}</p>
        <p>{{ survey.sex }}</p>
        <p>{{ survey.languagem }}</p>
        <p>{{ survey.description }}</p>
        <p>
            <a  href="{% url 'update-survey' survey.id %}"><button class="btn btn-primary" >edit</button></a>
            <a  href="#"><button class="btn btn-danger" >delete</button></a>
        </p>
    </button>
</div>

{% endblock %}