{% extends 'base.html' %}
{% block title %} list survey {% endblock %}

{% block content %}
<h4 class="text-center mt-3" >total de escriçoes 
    <span class="badge bg-primary rounded-pill">{{ all_surveys }}</span>
</h4>

<div class="list-group mt-2">

    {% for survey in surveys %}
    <button type="button" class="list-group-item list-group-item-action mt-3">
        <a href="{% url 'detail-survey' survey.id %}"><h5>{{ survey.full_name }}</h5></a>
        <p>{{ survey.email }}</p>
    </button>
    {% endfor %}
</div>

{% endblock %}