<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark p-5 bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Survey Dev</a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'list-surveys' %}">list-survey</a>
          <a class="nav-link" href="{% url 'logout' %}">logout</a>
          <a class="nav-link" href="#">{{ user.username }}</a>

        </div>
      </div>
    </div>
    <form action="{% url 'list-surveys' %}" method="POST" class="d-flex">
      {% csrf_token %}
      <input class="form-control me-2" name="search" type="search" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% endif %}
  </nav>

  <!-- messages -->
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p class="text-center fs-3" >{{ message }}</p>
      </div>
      {% endfor %}
  {% endif %}


  <div class="container p-3 mt-3" style="background: rgb(214, 214, 214);">

    {% block content %}
    {% endblock %}
  </div>

  <footer class="bg-dark text-white text-center p-4 mt-4">
    <p class="mt-4">email da empresa e contatos</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

</body>

</html>